@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    padding: 0%;
    min-height: 100vh;
    overflow-x: hidden;
}

.hero-content {
    margin-top: 100px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

.auth-modal-bg {
    background: rgba(255, 255, 255, 0.1) !important;
    backdrop-filter: blur(15px) brightness(80%);
    border: 1px solid rgba(225, 225, 225, 0.3) !important;
    border-radius: 20px;
    -webkit-backdrop-filter: blur(15px) brightness(80%);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
}

.auth-modal-bg h1, .auth-modal-bg p1, .auth-modal-bg label {
    color: #fff;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.auth-modal-bg .btn {
    background: #fff;
    color: #000;
    font-weight: 700;
    border-radius: 40px;
    height: 50px;
    margin-top: 10px;
}

.btn-login-modal {
    width: 100%;
    height: 45px;
    background: #ffc107;
    border: none;
    border-radius: 40px;
    font-weight: 600;
    color: #000;
}

.modal-body .input-box input {
    color: #fff;
    border: 1px solid rgba(225, 225, 225, 0.5) !important;
    background: rgba(225, 225, 225, 0.2) !important;
    border-radius: 40px;
}

.modal-body .input-box input::placeholder {
    color: rgba(225, 225, 225, 0.7);
}

.modal-body .wrapper {
    max-width: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    backdrop-filter: none;
}

.fixed-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(barber.jpg) no-repeat center center;
    background-size: cover;
    z-index: -1;
}

.carousel {
    width: 80%;
    margin-top: 50px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

}

.carousel-item {
    height: 500px;
}

.carousel-item img{
    height: 100%;
    object-fit: cover;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 15px;
    bottom: 20%;

}

.wrapper {
    width: 100%;
    max-width: 420px;
    background: transparent;
    border: 2px solid rgba(225, 255, 255, .2);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(225, 255, 255, .2);
    color: #fff;
    border-radius: 20px;
    padding: 20px 20px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #c64b4b;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow:  0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size:  16px;
    color: #333;
    font-weight: 600;
}

.btn:hover{
    background-color: aqua;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px 0 15px;
}

.register-link p a {
    color: #64c26a;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.wrapper {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}

.navbar-custom {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(225, 255, 255, .1);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(225, 225, 225, 0.2);
    z-index: 1000;
    padding: 0.5rem 1rem;
}

.navbar-custom .nav-link,.navbar-custom .navbar_brand{
    color: white;
    font-weight: 500;
    margin-left: 20px;
}

.navbar-custom .nav-link:hover {
    color: #fff;
    text-shadow: 0 0 10px #fff;

}

.about-section-padding {
    padding: 100px 0;
    background-color: #f8f9fa;
}


.about-img img {
    width: 100%;
    height: auto;
    min-height: 400px;
    object-fit: cover;
}

.about-text h2 {
    color: #222;
    line-height: 1.2;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #111;
}

.about-text p {
    color: #555;
    font-size: 1.1rem;
    line-height: 1.8;
    color: #333;
}

.btn-warning {
    padding: 12px 30px;
    font-weight: bold;
    text-transform: uppercase;
}

#about {
    position: relative;
    z-index: 1;
    background-color: white;
    margin-top: 0;
    padding: 100px 0;
}

#services {
    background: #ffffff;
    padding: 100px 0;
}

#services .card {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    transition: transform 0.3s ease;
}

#services .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

#services .section-header h2 {
    font-weight: 700;
    font-size: 2.5rem;
    color: #222;
}

.team .card-body img {
    width: 150px;
    height: 150px;
    object-fit: cover; 
    border: 5px solid #fff;
}

.team .card {
    transition: 0.3s ease-in-out;
    background-color: #fff;
    border-radius: 10px;
}

.team .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
}

.team .socials i {
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s;
}

.team .socials i:hover {
    color: #ffc107 !important;
}

#contact {
    background-color: #ffffff !important;
    padding: 100px 0;
}

#contact .form-control {
    border: 1px solid #eee;
    padding: 12px;
    border-radius: 5px;
}

#contact .form-control:focus {
    box-shadow: none;
    border-color: #ffc107;
}

#contact .btn-warning {
    background-color: #ffc107;
    border: none;
    color: #000;
    padding: 12px;
}

#contact .contact-info i {
    min-width: 40px;
}

footer {
    background-color: #ffffff;
}

footer .navbar-brand {
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.footer-socials a {
    transition: 0.3s ease;
}

.footer-socials a:hover {
    color: #ffc107 !important;
}

footer p {
    font-size: 0.9rem;
}

.style-card-img {
    width: 100%;
    height: 250px; /* Adjust this number to make them taller or shorter */
    object-fit: cover; /* This crops the image to fill the box perfectly */
}

.card {
    height: 100%; /* Ensures the cards themselves are the same height */
}